* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* /////////////////////////////////////////////////////////////////////////////////////////////////// */

/* FONTS */

@font-face {
  font-family: lato-bold;
  src: url(../fonts/lato/Lato-Bold.ttf);
}

@font-face {
  font-family: lato-regular;
  src: url(../fonts/lato/Lato-Regular.ttf);
}

@font-face {
  font-family: euro-pf55;
  src: url(../fonts/eurpf55/eurof55.ttf);
}

/* /////////////////////////////////////////////////////////////////////////////////////////////////// */

/* BASE */

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

button:hover {
  cursor: pointer;
}

/* /////////////////////////////////////////////////////////////////////////////////////////////////// */

/* Screen - for modals and menu */

.screen {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(0 0 0 / 50%);
  cursor: pointer;
  opacity: 0;

  z-index: 1;
  pointer-events: none;

  transition: opacity 0.6s;
}

/* /////////////////////////////////////////////////////////////////////////////////////////////////// */

/* HEADER */

.main-header {
  background-color: #292929;
  height: 80px;
  border-bottom: 6px #1e1e1e solid;
  color: white;
  font-family: lato-regular;
}

.header-content {
  height: 100%;
  padding: 10px;
}

.logo {
  font-family: euro-pf55;
  font-size: 2.5rem;
}

.logo span {
  color: #58c93a;
}

.main-nav li {
  display: inline-block;
  border: 0.5px #1d1d1d solid;
  padding: 55px 44px;
  height: 8.5rem;
}

.main-nav li:first-child {
  border-left: 1px #1d1d1d solid;
}

.main-nav li:last-child {
  border-right: 1px #1d1d1d solid;
}

.main-nav li:hover {
  cursor: pointer;
  border-bottom: 6px solid #58c93a;
  color: #58c93a;
  transition: all 0.3s;
}

.main-nav a {
  color: inherit;
  text-decoration: none;
  text-transform: capitalize;
}

.btn-menu-toggle {
  display: none;
  background-color: transparent;
  border: none;
  color: white;
  font-size: 2rem;
  transition: 0.3s;
}

.btn-menu-toggle:hover {
  cursor: pointer;
  color: #58c93a;
}

/* /////////////////////////////////////////////////////////////////////////////////////////////////// */

/* MAIN CONTENT */

.main-content {
  border: 1px solid #e1e0e0;
  font-family: lato-regular;
  padding-top: 5rem;
}

/* card */

.card {
  color: #606060;
  margin-bottom: 5rem;
  font-size: 0.9rem;
}

.card-image {
  height: 12.824rem;
  width: 20.625rem;
}

.card-title {
  font-family: lato-bold;
  font-size: 1.5rem;
  text-transform: uppercase;
  color: #4f4e4e;
}

.card-btn {
  background-color: transparent;
  color: #c2c1c1;
  border-radius: 20px;
  border: 1px solid #c2c2c2;
  padding: 0.7rem 2rem 0.7rem 2rem;
  align-self: flex-start;
}

.card-btn span {
  filter: opacity(0);
  transition: all 0.3s;
}

.card-btn:hover {
  color: #58c93a;
  border: 1px solid #58c93a;
  cursor: pointer;
}

.card-btn:hover span {
  padding: 0 0 0 1.2rem;
  filter: opacity(1);
}

/* card read modal */

body.modal-open .card-read-modal {
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
}

body.modal-open .screen {
  pointer-events: auto;
  opacity: 1;
}

.card-read-modal {
  transform: scale(0);
  opacity: 0;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  padding: 20px;

  background-color: rgb(255, 255, 255);
  flex-direction: column;
  z-index: 3;

  width: 600px;
  min-height: 500px;

  transition: transform 0.3s;
}

.card-read-modal h2 {
  color: #4f4e4e;
  font-family: lato-bold;
  font-size: 2rem;
}

.card-read-modal p {
  color: #606060;
  font-size: 1.5rem;
}

.card-read-modal input {
  font-size: 1.2rem;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
}

.card-read-modal button {
  background-color: #818181;
  border: none;
  color: white;
  font-family: lato-regular;
  font-size: 1.5rem;
  padding: 1rem 3rem 1rem 3rem;
  margin-left: 5px;
  margin-right: 5px;
}
/* content nav */

.content-nav {
  color: #818181;
  font-size: 1.125rem;
  width: 100%;
  height: 75px;
  border-top: 1px solid #e1e0e0;
}

.content-nav a span {
  padding: 0 0.75rem 0 0.75rem;
}

.content-nav a span img {
  margin-bottom: 2px;
}

.content-nav a:hover {
  cursor: pointer;
}

/* /////////////////////////////////////////////////////////////////////////////////////////////////// */

/* FOOTER */

.main-footer {
  height: 240px;
  padding-top: 2rem;
  background-color: #f8f8f8;
}

.main-footer small {
  font-family: lato-regular;
  font-size: 0.6125rem;
  color: #a6a6a6;
  margin-bottom: 2.1875rem;
}

.footer-logo {
  background-color: #e5e5e5;
  display: inline-block;
  text-align: center;
  height: 40px;
  width: 40px;
  transition: background-color 0.3s;
}

.main-footer .logo {
  margin-bottom: 2.1875rem;
}

.main-footer .logo-container {
  gap: 1.25rem;
}

.logo-facebook:hover {
  background-color: #516fad;
  cursor: pointer;
}
.logo-twitter:hover {
  background-color: #8ac1ff;
  cursor: pointer;
}
.logo-behance:hover {
  background-color: #002061;
  cursor: pointer;
}

.logo-dribble:hover {
  background-color: #f53fdd;
  cursor: pointer;
}

.footer-logo i {
  font-size: 1.25rem;
  transform: translate(0, 50%);
  color: white;
}

.main-footer small span {
  color: #9b9a9a;
  font-weight: bold;
}

/* /////////////////////////////////////////////////////////////////////////////////////////////////// */

/* LAYOUT */

.main-layout {
  margin: 0 auto;
}

.cards-layout {
  display: flex;
  flex-wrap: wrap;
}

/* /////////////////////////////////////////////////////////////////////////////////////////////////// */

/* HELPERS */

.flex {
  display: flex;
}

.column {
  flex-direction: column;
}

.flex.space-between {
  justify-content: space-between;
}

.flex.align-center {
  align-items: center;
}

/* list-helpers */

.clean-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* Drop down menu */

.dropbtn {
  width: 100%;
  height: 100%;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  transform: translate(-44px, 61px);
  opacity: 0;
  pointer-events: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 140px;
  box-shadow: 0px 8px 16px 0px rgb(0 0 0 / 20%);
  z-index: 1;

  transition: all 0.3s;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  pointer-events: initial;
  opacity: 1;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}

/* /////////////////////////////////////////////////////////////////////////////////////////////////// */

/* MEDIA QUERIES */

/* Mobile changes */

@media screen and (max-width: 820px) {
  .main-layout {
    max-width: 410px;
  }

  .card-read-modal {
    height: 100vh;
    width: 100vw;

    padding: 30px 40px 30px 40px;
  }

  .main-nav {
    flex-direction: column;
    justify-content: flex-start;
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    min-width: 250px;

    text-align: center;
    background-color: #7c7c7c;
    opacity: 0.97;

    z-index: 1;

    box-shadow: none;

    transform: translate(100%);

    transition: 0.3s;
  }

  .header-content {
    padding: 10px;
  }

  .main-nav li {
    border-bottom: 1px #1d1d1d solid;
    padding: 40px 44px 60px 44px;
    height: 3rem;
  }

  .main-nav li:first-child {
    border-top: 2px #1d1d1d solid;
  }

  .main-nav li:last-child {
    border-bottom: 2px #1d1d1d solid;
  }

  .main-nav li:hover {
    background-color: #707070;
    border-top: 1px #1d1d1d solid;
    border-bottom: 3px solid #58c93a;
    color: #58c93a;
    transition: all 0.3s;
  }

  .btn-menu-toggle {
    display: initial;
  }

  body.menu-open .main-nav {
    transform: translateX(0);
    box-shadow: -7px 0px 10px 2px rgba(0, 0, 0, 0.73);
  }

  body.menu-open .screen {
    opacity: 1;
    pointer-events: auto;
  }

  .card {
    align-items: center;
    flex-direction: column;
    width: 20.625rem;
    font-size: 0.9rem;
  }

  .card-title {
    font-size: 1.5rem;
  }

  .cards-layout {
    flex-direction: column;
    align-items: center;
  }

  .card-image,
  .card-title,
  .card-text {
    margin-bottom: 1rem;
  }

  .dropdown-content {
    transform: translate(-44px, 44px);
    min-width: 250px;
  }

  .main-footer small {
    font-size: 0.5rem;
  }

}

/* Medium - Tablet */

@media screen and (min-width: 820px) and (max-width: 1100px) {
  .main-layout {
    max-width: 800px;
  }

  .main-header {
    height: 80px;
    border-bottom: 6px #1e1e1e solid;
  }

  .main-nav li {
    padding: 33px 55px;
    height: 5.4rem;
  }

  .card {
    margin-bottom: 2.5rem;
    font-size: 0.9rem;
  }

  .card-image {
    margin-inline-end: 2.5rem;
    height: 15.36rem;
    width: 23.4rem;
  }

  .card-content {
    flex-basis: 40%;
  }

  .content-nav {
    border: none;
  }

  .main-content {
    padding-top: 2.5rem;
    border: none;
  }

  .main-footer {
    padding-top: 2.5rem;
  }

  .main-footer small {
    font-size: 0.8125rem;
  }

  .dropdown-content {
    transform: translate(-56px, 33px);
    min-width: 163px;
  }
}

/* Regular - Desktop */

@media (min-width: 1100px) {
  .main-header {
    height: 130px;
    font-family: lato-regular;
  }

  .header-content {
    padding: 0;
  }

  .card-image {
    margin-inline-end: 2.5rem;
    height: 19.1875rem;
    width: 29.25rem;
  }

  .card-title {
    font-size: 1.75rem;
    color: #4f4e4e;
  }

  .main-footer {
    height: 315px;
    padding-top: 5rem;
  }

  .main-footer small {
    font-size: 0.8125rem;
    margin-bottom: 2.1875rem;
  }

  .main-layout {
    max-width: 980px;
  }
}
